@import "/src/Component/UI/Sass/Main";

@mixin navbarItem($base) {
	@include size(y, n);
	font-size: 3rem;
	white-space: nowrap;
	background-image: $base;
	@include displayFlex(row, n, center);

	.link {
		padding: 1rem 1.5rem;
	}
}

.section {
	a {
		text-decoration: none;
		color: black;
	}
	z-index: 10;
	.header {
		// display: none;
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
			display: flex;

			justify-content: center;
			li {
				.link {
					display: block;
					color: white;
					padding: 1rem 1.6rem;
					text-decoration: none;
					font-size: 1.5rem;
					&:hover {
						background-color: #111;
					}
				}
			}
		}
		// @include responsive(tabletPortrait) {
		// 	display: block;
		// }
	}
	.phoneHeader {
		@include displayFlex(row, space-between, center);
		direction: ltr;
		// padding: 0 0.5rem;
		height: 5rem;
		font-size: 3rem;
		button {
			// border: black double 2px;
			border: none;
			border-radius: 0;
			background-color: #00559b;
			height: 100%;
			width: 25%;
			a {
				font-size: inherit;
				color: white;
			}
		}
		.sidebarToggle {
			padding-right: 1.5rem;
			padding-left: 1rem;
			font-size: 5rem;
			// height: 5rem;
			@include displayFlex(column, center, center);
			color: black;
		}
	}
	.navbar {
		z-index: 10;
		position: relative;
		height: 5rem;
		@include size(n, y);
		.navbar_container {
			@include size(y, y);
			@include displayFlex(row-reverse, flex-start, center);
			.logo {
				font-size: 1.5rem;
				padding: 0 1rem;
			}
			.navbar_menu {
				@include size(y, y);
				@include displayFlex(row, n, center);
				.active_tab,
				.inactive_tab {
					font-size: 2.5rem;
					white-space: nowrap;
					display: inherit;
					.link {
						color: black;
						padding: 1rem 1rem;
						margin-right: 0.5rem;
					}
				}
				.active_tab {
					@include size(y, y);
					@include responsive(tabletPortrait) {
						@include displayFlex(row, space-between, center);
					}
					.sidebarToggle {
						padding-right: 1.5rem;
						padding-left: 1rem;
						font-size: 5rem;
						height: 5rem;
						@include displayFlex(column, center, center);
						color: black;
					}
					.active_tab_nav {
						padding: 0 1rem;
						.registerButtons {
							button {
								margin: 0 0.2rem;
								font-size: 2rem;
								box-sizing: border-box;
							}
						}
					}
				}
				.inactive_tab {
					@include size(y, n);
					@include displayFlex(column, center, center);
					@include responsive(tabletLandscape) {
						width: 10%;
					}
				}
			}
		}
		@include responsive(tabletLandscape) {
			position: fixed;
			@include size(n, y);
			height: 7rem;
			.navbar_container {
				@include size(y, y);
				@include displayFlex(row-reverse, flex-start, center);
				.logo {
					font-size: 1.5rem;
					padding: 0 1rem;
				}
				.navbar_menu {
					@include size(y, y);
					@include displayFlex(row, n, center);
					.active_tab {
						@include size(y, y);
						font-size: 3rem;
						white-space: nowrap;
						@include displayFlex(row, n, center);

						.link {
							padding: 1rem 1.5rem;
						}
						.active_tab_nav {
							.registerButtons {
								button {
									font-size: 3rem;
								}
							}
						}
					}
					.inactive_tab {
						@include size(y, n);
						font-size: 3rem;
						white-space: nowrap;
						@include displayFlex(row, n, center);

						.link {
							padding: 1rem 1.5rem;
						}
					}

					.sim_background {
						background-image: $simPrimary;
					}

					.domain_background {
						background-image: $domainPrimary;
					}
				}
			}
		}
	}
	.scrolled {
		position: fixed;
		top: 0;
		left: 0;
	}
}
.sim_background {
	background-color: $simSecondary;
	border-bottom: #00750a solid 2px;
	box-sizing: border-box;
}

.domain_background {
	background-color: $domainPrimary;
	border-bottom: #1e5a92 solid 2px;
	box-sizing: border-box;
}
