@import "/src/Component/UI/Sass/Main.scss";

.banner {
	min-height: 80vh;
	height: auto;
	margin-top: 2rem;
	.container {
		height: 0;
	}
}

.shortCuts {
	@include displayFlex(column, center, center);
	div {
		margin-bottom: 2rem;
		width: 90%;
		border: black solid 2px;
		border-radius: 3px;
		text-align: center;
		.link {
			font-weight: bold;
			font-size: 3rem;
			color: black;
			text-shadow: 0px 0px 3px gray;
		}
	}
}

.vitrine {
	min-height: 90vh;
	@include size(n, y);
	.vitrineContainer {
		font-size: 5rem;
		text-align: center;
		width: 100%;
	}

	@include displayFlex(column, center, center);
	@include responsive(tabletPortrait) {
		.vitrineContainer {
			width: 90%;
		}
	}
}
