@import "/src/Component/UI/Sass/Main.scss";

.section {
	@include displayFlex(column, center, n);

	.main_section {
		@include displayFlex(row, space-around, flex-start);
		.rightbar,
		.leftbar {
			margin: 1rem;
			display: none;
			width: 20%;
			@include responsive(tabletPortable) {
				margin: 2rem;
			}
		}

		.rightbar {
			@include responsive(desktop) {
				display: inline-block;
			}
		}

		.leftbar {
			@include responsive(tabletLandscape) {
				display: inline-block;
				width: 30%;
			}
			@include responsive(desktop) {
				width: 20%;
			}
		}

		.main {
			@include size(n, y);
			display: inline-block;

			@include responsive(tabletLandscape) {
				margin: 2rem;
				width: 70%;
			}
			@include responsive(desktop) {
				width: 60%;
			}
		}
	}
}
