@import "/src/Component/UI/Sass/Main";

.section {
	@include displayFlex(column, n, n);
	position: fixed;
	top: 0;
	right: 0;
	background-color: $black;
	height: 100vh;
	width: 20rem;
	z-index: 100;
	.close_toggle {
		box-sizing: border-box;
		display: flex;
		color: white;
		padding: 1rem 2rem 1rem 1rem;
		font-size: 5rem;
		width: 100%;
		border-bottom: white 1.5px solid;
	}
	ul {
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			box-sizing: border-box;

			width: 100%;
			border-bottom: blanchedalmond solid 1.5px;
			&:hover,
			&:active {
				background-color: #3a3a3a;
			}
			.link {
				display: block;
				padding: 0.5rem 2rem 0.5rem 2rem;
				color: gray;
				font-size: 1.5rem;
			}
		}
	}
}

.close {
	width: 0rem;
	overflow: hidden;
}
