@import "/src/Component/UI/Sass/Main.scss";

.section {
	@include displayFlex(column, center, center);
	min-height: 85vh;
	div {
		strong {
			font-size: 15rem;
		}
		p {
			font-size: 2rem;
		}
		button {
			font-size: 4rem;
			.link {
				color: black;
			}
		}
	}
}
