@import "/src/Component/UI/Sass/Main.scss";

.section {
	.banner {
		@include displayFlex(row, center, center);
		// min-height: 90vh;
		position: absolute;
		@include responsive(tabletPortrait) {
			right: 15%;
		}
		@include size(y, y);
		.cardContainer {
			@include size(y, y);
			font-size: 2rem;
			position: absolute;
			margin: 2rem 0;
			.cardSim,
			.cardDomain {
				display: block;
				position: absolute;
				border: gray solid 2px;
				border-radius: 10px;
				width: 85%;
				min-height: 40vh;
				@include responsive(tabletPortrait) {
					width: 50%;
				}
				div {
					font-size: inherit;
					padding: 0 2rem;
					// text-shadow: 2px 2px black;
				}
			}
			.cardSim {
				right: 3%;
				top: 0rem;
				background-image: linear-gradient(
					to bottom left,
					#75cfb8,
					$simPrimary,
					white
				);
				z-index: 4;
				div {
					@include displayFlex(column, center, flex-start);
					margin: 1.5rem;
					color: #2c0000;
					h1:first-child {
						font-size: 3rem;
						font-weight: bold;
					}
					h1 {
						font-size: 2rem;
						padding: 0;
						margin: 0;
					}
					p {
						font-size: 3rem;
						font-weight: bold;
						padding: 0;
						margin: 2rem 0;
					}
				}
			}
			.cardDomain {
				right: 10%;
				top: 34vh;
				z-index: 3;
				background-image: linear-gradient(
					to bottom right,
					#0f4c75,
					#3282b8,
					#bbe1fa
				);
				@include displayFlex(row, center, center);
				div {
					@include displayFlex(column, center, flex-end);
					// height: 100%;
					// width: 50%;
					@include size(y, y);
					color: white;
					.gap {
						height: 6rem;
					}
					h1 {
						font-size: 4rem;
						font-weight: bold;
						margin: 0;
					}
					h2 {
						font-size: 2rem;
						padding: 0;
						margin: 0;
					}
					@include responsive(tabletPortrait) {
						.gap {
							height: 1rem;
						}
					}
				}
			}
		}
	}
}
