@import "/src/Component/UI/Sass/Main.scss";

.ad {
	@include size(n, y);
	height: 24rem;
	@include responsive(tabletLandscape) {
		height: 16rem;
	}
}

.result {
	padding: 1rem 0;
	box-sizing: inherit;
	@include displayFlex(column, center, center);
	font-size: 7rem;
	table {
		width: 100%;
	}
}
