@import "/src/Component/UI/Sass/Main.scss";

.ad {
	@include size(n, y);
	height: 24rem;
	@include responsive(tabletLandscape) {
		height: 16rem;
	}
}
.section {
	min-height: 100vh;
	.table {
		width: 100%;
		table {
			@include size(y, y);
			border-collapse: collapse;
			td,
			th {
				padding: 0.5rem;
				font-size: 1rem;
			}
			th {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				text-align: center;
				background-color: $simPrimary;
				color: black;
			}
			tr {
				border: $simPrimary solid 2px;
				margin: 1rem 0;
			}
			tr:nth-child(even) {
				background-color: #d3d3d3;
			}
		}
	}
	.pagination {
		width: 100%;
		@include displayFlex(row, center, center);
		strong {
			margin: 0 1rem;
			font-size: 1.5rem;
		}
		button {
			font-size: 1.5rem;
			margin: 1rem 0.2rem;
		}
	}
}
