@import "/src/Component/UI/Sass/Main.scss";

.section {
	padding: 1rem 0;
	font-size: 7rem;
	box-sizing: inherit;
	width: 100%;
	// @include displayFlex(column, center, center);
	table {
		@include size(y, y);
		// width: 100%;
		border-collapse: collapse;
		td,
		th {
			border: 1px solid #ddd;
			padding: 0.5rem;
		}
		th {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			text-align: center;
			background-color: #4caf50;
			color: white;
		}
		tr:nth-child(even) {
			background-color: #d3d3d3;
		}
	}
	.paggination {
		@include displayFlex(row, center, center);
		strong {
			margin: 0 1rem;
		}
		button {
			font-size: 1.5rem;
			margin: 1rem 0.2rem;
		}
	}
}
