@import "/src/Component/UI/Sass/Main.scss";

table {
	// @include size(y, y);
	// font-size: inherit;
	border-collapse: collapse;
	td,
	th {
		// border: 1px solid #ddd;
		padding: 0.5rem;
	}
	th {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-align: center;
		background-color: $simPrimary;
		color: black;
	}
	tr {
		border: $simPrimary solid 2px;
		margin: 1rem 0;
	}
	tr:nth-child(even) {
		background-color: #d3d3d3;
	}
}
.paggination {
	@include displayFlex(row, center, center);
	strong {
		margin: 0 1rem;
	}
	button {
		font-size: 1.5rem;
		margin: 1rem 0.2rem;
	}
}
// }
