@import "/src/Component/UI/Sass/Main.scss";

$fontSize: 1.2rem;

.container {
	@include size(y, y);
	@include displayFlex(column, center, center);
	overflow: hidden;
	.title {
		h2 {
			font-size: 2rem;
			text-align: center;
			text-shadow: 1px 1px 20px black;
		}
	}
	form {
		background-color: $simSecondary;
		border-radius: 10px;
		@include size(y, y);
		display: inline-block;
		font-size: 1.2rem;
		color: black;

		padding: 0.5rem;
		.number_line {
			direction: ltr;
			@include size(y, y);
			@include displayFlex(row, center, center);
			// text-align: center;
			label {
				width: auto;
			}
			select {
				margin: 0 0.5rem;
				font-size: $fontSize;
				direction: rtl;
				width: 20%;
				option {
					font-size: inherit;
					direction: ltr;
				}
			}

			input {
				margin: 0 0.25rem;
				text-align: center;
				font-size: $fontSize;
			}
			@include responsive(tabletPortrait) {
				select {
					width: 10rem;
				}
				input {
					margin: 0 0.5em;
					width: 20%;
				}
			}
		}

		div {
			@include size(n, y);
			@include displayFlex(row, center, flex-start);
			margin: 0.5rem 0;
			label,
			select,
			input,
			span {
				font-size: inherit;
				text-align: center;
			}
			label {
				width: 15rem;
				white-space: nowrap;
				font-size: 2rem;
			}
			select {
				width: 15rem;
				font-size: $fontSize;
				margin: auto 0;
				option {
					font-size: inherit;
				}
			}
			input {
				// width: 15rem;
				font-size: $fontSize;
				margin: auto 0;
			}
			span {
				font-size: $fontSize;
				margin: auto 0.5rem;
			}
		}
		.price {
			@include displayFlex(column, center, center);
			label {
				padding-left: 1rem;
			}
		}
		@include responsive(tabletPortrait) {
			@include displayFlex(row, center, center);
			flex-wrap: wrap;
			width: 60%;
			div {
				width: 50%;
			}
		}
		.btns {
			@include displayFlex(row, flex-end, center);
			@include size(y, y);
			font-size: inherit;
			.submitBtn,
			.resetBtn {
				height: 100%;
				border-radius: 10px;
				font-size: 2rem;
				border: white solid 1px;
			}

			.submitBtn {
				background-color: #0c290c;
				color: white;
			}
			.resetBtn {
				background-color: #ff6889;
				color: black;
			}
		}
	}
}
